openai
python-dotenv
streamlit
pandas
pypdf
streamlit
google-genai
python-dotenv

langchain
langchain-community
langchain-huggingface

faiss-cpu
sentence-transformers

pymupdf

pandas
openpyxl

tiktoken